@font-face {
   font-family: "Work Sans";
   src: url("./fonts/WorkSans-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   src: url("./fonts/Roboto-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* ---------Reset_styles---------- */

/**
Нормализация блочной модели
*/
*,
::before,
::after {
   box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
   padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
   margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
   margin-block: 0;
}

:where(dd[class]) {
   margin-left: 0;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
 */
:where(ul[class]) {
   list-style: none;
}

/**
   Упрощаем работу с изображениями и видео
 */
img {
   display: block;
   max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
   font: inherit;
}

html {
   /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
   */
   height: 100%;
   /**
   Плавный скролл
   */
   scroll-behavior: smooth;
}

body {
   /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
   */
   min-height: 100%;
   /**
      Унифицированный интерлиньяж
   */
   line-height: 1.5;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
 */
/* @media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
} */


/* --------Global_variables-------- */

:root {
   --color-white: #FFFFFF;
   --color-dark: #20201F;
   --color-light-green: #F7F7F7;
   --color-dark-green: #E5E2DE;


   --font-family-base: "Work Sans", sans-serif;
   --font-family-title: "Roboto", sans-serif;

}


/* -------Basic_styles------------ */

body {
   font-family: var(--font-family-base);
   font-weight: 400;
   font-size: 19px;
   line-height: 1.75;
   background-color: var(--color-white);
}

p {
   margin-block: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

.container {
   max-width: 1020px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   font-family: var(--font-family-title);
   font-size: 68px;
   font-weight: 400;
   line-height: 1.1;
   color: var(--color-dark);
}

.title--white {
   font-family: var(--font-family-title);
   font-size: 68px;
   font-weight: 400;
   line-height: 1.1;
   color: var(--color-white);
}

.btn {
   display: inline-block;
   height: 50px;
   line-height: 50px;
   padding: 0 30px;
   border: 1px solid #20201F;
   border-radius: 42px;
   cursor: pointer;
   font-family: var(--font-family-title);
   color: var(--color-dark);
   text-transform: lowercase;
   background-color: var(--color-white);
}

.btn--white {
   color: var(--color-white);
   background-color: var(--color-dark);
   border: 1px solid var(--color-white);
}

.btn:hover {
   background-color: rgb(167, 167, 167);
}


/* -------------HEADER--------------- */


.header {
   width: 100%;
   height: 800px;
   background: url("./images/lasting_memories-min.jpg") center  / cover no-repeat;
}

.header__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 40px;
}

.header__top-logo {
   flex-shrink: 0;
}

.menu__list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: 60px;
}

.menu__list-link {
   font-size: 18px;
   color: var(--color-white);
}

.menu__list-link:hover {
   color: var(--color-dark)
}

.header__title {
   padding: 180px 0 0 0;
   text-align: center;
}

.header__title span {
   padding-left: 50px;
}


/* -----------Tables--------------- */

.tables {
   width: 100%; 
   position: relative;
}

.tables__wrapper {
   position: relative;
   width: 100%;
   height: 725px;
}

.tables__info {
   max-width: 520px;
   padding-top: 150px;
}

.tables__info-title {
   padding-bottom: 60px;
}

.tables__info-disc {
   padding-bottom: 70px;
}

.tables__info-collections-link {
   border: none;
   padding-left: 20px;
}

.tables__info-img1 {
   position: absolute;
   max-width: 250px;
   bottom: 0;
   right: 30%;
}

.tables__info-img2 {
   position: absolute;
   max-width: 300px;
   top: 35px;
   right: 4%;
}

.tables__info-img3 {
   position: absolute;
   max-width: 167px;
   bottom: 60px;
   right: 0;
}


/* ------------COLLECTIONS----------- */

.collections {
   position: relative;
   width: 100%;
   height: 1030px;
   background-color: var(--color-dark-green);
}

.collections__img2 {
   max-width: 450px;
   position: absolute;
   top: 220px;
   right: 0;
}

.collections__img2-wrapper,
.collections__img1-wrapper {
   position: relative;
}

.collections__img2-title,
.collections__img1-title {
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   font-family: var(--font-family-title);
   font-size: 45px;
   color: var(--color-white);
}

.collections__img2-disc,
.collections__img1-disc {
   padding: 10px 10px 0 0;
}

.collections__info {
   padding-top: 125px;
   max-width: 590px;
}

.collections-title {
   padding-bottom: 35px;
}

.collections__nav-list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 28px;
   padding-bottom: 95px;
}

.collections__nav-link:hover {
   color: grey;
}

.collections__img1 {
   position: relative;
}

.collections__info-arrow-icon {
   position: absolute;
   bottom: 11px;
   right: 0;
}

.collections__number {
   display: flex;
   column-gap: 5px;
   position: absolute;
   bottom: 45px;
   right: 7%;
}

.collections__number-num {
   font-family: var(--font-family-title);
   font-size: 22px;
   color: var(--color-dark);
}

.collections__number-arrow-icon-left {
   rotate: 180deg;
}


/* ----------DEALER--------------- */


.dealer {
   height: 840px;
   position: relative;
   overflow: hidden;
}
.dealer__info {
   max-width: 415px;
   padding-top: 120px;
}

.dealer__info-title {
   padding-bottom: 55px;
}

.dealer__info-disc {
   padding-bottom: 40px;
}

.dealer__info-form {
   max-width: 325px;
}

.dealer__info-form-search {
   border-radius: 15px;
   height: 62px;
   margin-bottom: 37px;
   line-height: 62px;
}

.dealer__img {
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   height: 100%;
}

.dealer__img-pic {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


/* -----------INSPIRE----------- */

.inspire {
   position: relative;
   width: 100%;
   height: 590px;
   background-color: var(--color-dark);
   overflow: hidden;
}

.container {
   position: relative;
}

.inspire__body {
   margin: 0 auto;
   max-width: 720px;
   padding: 120px 0;
   text-align: center;
}

.inspire__body-title span {
   display: block;
   padding-bottom: 40px;
}

.inspire__body-title {
   position: relative;
   padding-bottom: 100px;
   z-index: 10;
}

.inspire__body-link {
   z-index: 10;
}

.inspire__pic1 {
   position: absolute;
   top: 0;
   left: auto;
}

.inspire__pic2 {
   position: absolute;
   top: 430px;
   right: 0;
}

.inspire__pic3 {
   position: absolute;
   top: 85px;
   right: 0;
}


/* -----------DESIGNS----------------- */

.designs__body {
   padding: 100px 0;
   text-align: center;
}

.designs__body-text {
   padding-bottom: 35px;
}

.designs__body-text-item {
   font-family: var(--font-family-title);
   font-size: 49px;
}


/* -------------MEDIA---------------- */


@media (max-width: 1200px) {

   .tables__info {
      max-width: 420px;
   }

   .title,
   .title--white {
      font-size: 60px;
   }

   .tables__info-img1 {
      right: 25%;
   }

   .collections__info {
      max-width: 550px;
   }

   .collections__img2 {
      max-width: 400px;
   }
}


@media (max-width: 992px) {

   .menu__list {
      column-gap: 45px;
   }

   .menu__list-link {
      font-size: 16px;
   }

   .title,
   .title--white {
      font-size: 55px;
   }

   .header__title span {
      padding-left: 35px;
   }

   .tables__info {
      max-width: 320px;
   }

   .tables__info-img1 {
      max-width: 200px;
      right: 25%;
   }

   .tables__info-img2 {
      max-width: 250px;
      top: 70px;
   }

   .tables__info-img3 {
      max-width: 100px;
   }

   .collections {
      height: 900px;
   }

   .collections__info {
      max-width: 430px;
   }

   .collections__nav-list {
      padding-bottom: 55px;
   }

   .collections__img2 {
      max-width: 300px;
   }

   .dealer {
      height: 740px;
   }

   .dealer__info {
      max-width: 365px;
   }

   .dealer__img {
      width: 40%;
   }
}


@media (max-width: 768px) {

p {
   font-size: 16px;
}

   .header__top {
      flex-direction: column;
      row-gap: 10px;
      padding-top: 30px;
   }

   .menu__list {
      column-gap: 30px;
   }

   .menu__list-link {
      font-size: 16px;
   }

   .title,
   .title--white {
      font-size: 50px;
   }

   .header__title span {
      padding-left: 20px;
   }

   .tables__info {
      max-width: 300px;
   }

   .tables__info-img1 {
      right: 5%;
   }

   .tables__info-img2 {
      top: 80px;
   }

   .tables__info-img3 {
      display: none;
   }

   .collections {
      height: 800px;
   }

   .collections__info {
      max-width: 300px;
   }

   .collections__nav-list {
      column-gap: 15px;
   }

   .collections__nav-link {
      font-size: 16px;
   }

   .collections__img2 {
      max-width: 250px;
   }

   .dealer {
      height: 640px;
   }

   .dealer__info {
      max-width: 315px;
   }

   .designs__body-text-item {
      font-size: 40px;
   }
}


@media (max-width: 576px) {

   .header {
      height: 700px;
   }

   .header__title {
      padding: 100px 0 0 0;
   }

   .title,
   .title--white {
      font-size: 45px;
   }

   .header__title span {
      padding-left: 0px;
   }

   .tables__wrapper {
      height: 575px;
   }

   .tables__info {
      padding-top: 100px;
   }

   .tables__info {
      max-width: 350px;
   }

   .tables__info-img1 {
      display: none;
   }

   .tables__info-img2 {
      right: 15px;
      top: 100px;
   }

   .tables__info-about,
   .tables__info-collections {
      font-size: 16px;
   }

   .collections {
      height: 800px;
   }

   .collections__img2 {
      display: none;
   }

   .collections__info {
      max-width: 100%;
      padding-top: 80px;
   }

   .collections__info-arrow-icon {
      display: none;
   }

   .dealer {
      height: 700px;
   }

   .dealer__info {
      max-width: 280px;
      padding: 100px 0 0 0;
   }

   .dealer__img {
      width: 30%;
   }

   .inspire__body-title {
      padding-bottom: 60px;
   }

   .inspire__pic1 {
      display: none;
   }

   .inspire__pic2 {
      width: 100%;
   }

   .designs__body-text-item {
      font-size: 35px;
   }

}


@media (max-width: 428px) {

   .tables__wrapper {
      height: 530px;
   }

   .tables__info {
      padding-top: 80px;
   }

   .title,
   .title--white {
      font-size: 35px;
   }

   .tables__info-img2 {
      max-width: 180px;
      right: 5px;
      top: 90px;
   }

   .tables__info-about {
      width: 135px;
      height: 40px;
   }

   .collections {
      height: 700px;
   }

   .dealer {
      height: 600px;
      text-align: center;
   }

   .dealer__info {
      max-width: 100%;
   }

   .dealer__info-form {
      margin: 0 auto;
      text-align: center;
   }

   .dealer__img {
      display: none;
   }

   .btn {
      height: 45px;
      line-height: 45px;
   }

   .dealer__info-form-search {
      height: 52px;
      line-height: 52px;
   }
}

